<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [163]:
# create empty list, name it 'a'
a=[]

In [164]:
# print the value of a

a
[]

[]

In [165]:
# print the type of a
list

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [166]:
languages=['R','Python', 'SAS', 'Scala', 42]
print(languages)
['R', 'Python', 'SAS', 'Scala',  42]

['R', 'Python', 'SAS', 'Scala', 42]

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [167]:
len(languages)
5

5

Using for loop iterate and print all the elements in the list

In [168]:
for l in languages:
    print(l)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [169]:
temp=languages[1]

Print the value of temp and type(temp)

In [170]:


temp
'python'

'python'

In [171]:
type(temp)

str

Append the element 'Java' in the list

In [172]:
languages.append('Java')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [173]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [174]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [175]:
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [176]:

colors.insert(1,'Orange')

Print the list

In [177]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [178]:
colors2=['grey','sky blue']
colors2

['grey', 'sky blue']

Add the elements of colors2 to colors using extend function in the list

In [179]:
colors.extend(colors2)

Print len of colors and its elements

In [180]:
len(colors2)

2

Sort the list and print it.

In [181]:
colors.sort()
colors

['Black', 'Blue', 'Orange', 'Red', 'White', 'grey', 'sky blue']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [182]:
sent ="Coronavirus Caused Lockdowns Around The World."
sent

'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [183]:

words = sent.split()
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [184]:
words_lower = [ word.lower() for word in words ]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [185]:
word_not_in_list = "country"
if word_not_in_list in words_lower:
    print(f"'{word_not_in_list}' is in the list.")
else:
    print(f"'{word_not_in_list}' is not in the list.")

'country' is not in the list.

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [186]:


words_lower.remove("the")
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [187]:
x4 = words_lower[:4]

In [188]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [189]:

joined_string = " ".join(words_lower)
joined_string

'coronavirus caused lockdowns around world.'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [190]:
stud_grades = ['A','A','B','C','C','F']
stud_grades

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [191]:

len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [192]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [193]:

stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [194]:


print(type(stud_grades), stud_grades)
print(type(stud_grades_set), stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'B', 'C', 'A', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [195]:

stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [196]:

stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [197]:


stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [198]:


stud_grades_set

{'A', 'B', 'C', 'G'}

In [199]:
len(stud_grades_set)

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [200]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [201]:

colors

['red', 'blue', 'orange']

Create colors_set, and fruits_set. (using set() ) and print them

In [202]:
colors_set = set(colors)
colors_set

{'blue', 'orange', 'red'}

In [203]:
fruits_set = set(fruits)
fruits_set

{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [204]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [205]:

colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [206]:

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [207]:
temp = [17, 'Virat', 50.0]
temp

[17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [208]:

for i in temp:
    print (i)

17
Virat
50.0

replace first element with 11 in temp

In [209]:
temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [210]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [211]:


for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [212]:

temp1 = list(temp1) 
temp1[0] = 17
temp1 = tuple(temp1)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [213]:
city = ("Bangalore", 28.9949521, 72)
city

('Bangalore', 28.9949521, 72)

Print first element of city

In [214]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [215]:
city2 = ('Chennai', 30.01, 74)
city2

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [216]:
cities = (city, city2)

Print cities

In [217]:
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [218]:
cities[0]

('Bangalore', 28.9949521, 72)

print the type of cities

In [219]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [220]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [221]:
d[59]

KeyError: 59

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:
actor = d['actor']
actor

Print the type of actor

In [ ]:
type(actor)

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
List = d['list']

Print the type of List.

In [ ]:
List

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}
d1

Merge d1 into d.

In [ ]:
d.update(d1)

print d

In [ ]:
d

Print all the keys in d

In [ ]:
d.keys()

Print all the values in d

In [ ]:
d.values()

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
for key,value in d.items():
    f"{key} ----> {value}"

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:


sent = "Coronavirus Caused Lockdowns Around The World."
char_count = {}

In [ ]:
char_count